.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.title {
    text-align: center;
    color: #ff5100;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button {
    background-color: #232323;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    margin-left: 10px;
    height: 40px;
}

.button:hover {
    background-color: #ff5100;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
    width: 600px;
}

.image-preview {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #EBECFE;
    color: #333;
    cursor: pointer;
    margin-top: 5px;
}

.custom-file-upload:hover {
    border-color: #888;
    background-color: #f1f1f1;
}

.foto-produto {
    max-width: 60px;
}
