/* Estilo principal do componente */
.content-login-cliente {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilo das abas */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.tab {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #232323;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.tab.active {
    color: #ff5100;
    border-bottom: 2px solid #ff5100;
}

.tab:hover {
    color: #ff5100;
}

/* Estilo do conteúdo das abas */
.tab-content {
    padding: 0;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #232323;
    text-align: center;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Container dos grupos de campos */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    color: #676767;
    margin-bottom: 5px;
}

/* Estilização dos inputs */
.form-input {
    padding: 14px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
    flex: 1; /* Faz o input ocupar todo o espaço disponível */
    margin-right: 10px; /* Espaço entre o input e o botão */
}


.form-input:focus {
    border-color: #ff5100;
    background-color: #fff;
}

/* Estilo do botão */
.form-button {
    padding: 14px;
    background-color: #232323;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.form-button:hover {
    background-color: #ff5100;
}

.form-button:active {
    transform: scale(0.98);
}