.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: #ff5100;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.subtitle {
  text-align: center;
  color: #232323;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button {
  background-color: #232323;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  width: auto;
}

.button:hover {
  background-color: #ff5100;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.modal-container {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}


.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; 
  max-width: 500px;
  width: 100%;
}


.modal-title {
  text-align: center;
  color: #ff5100;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
}

.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
  width: 600px;
}

.button.add-button {
  width: auto;
}

/* Estilos para o campo de senha e ícone de alternância */
.password-field {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; /* Certifica-se de que o campo ocupe a largura disponível */
}

.show-password-button {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Ajuste o tamanho do ícone */
  color: #333; /* Cor do ícone */
  padding: 5px;
  z-index: 1; /* Garante que o botão fique sobre o input */
}

/* Para o ícone de senha alternando */
.show-password-button:hover {
  color: #ff5100; /* Cor ao passar o mouse */
}
.modal-actions {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita */
  gap: 10px; /* Adiciona uma separação de 10px entre os botões */
  margin-top: 20px; /* Adiciona uma margem superior para distanciar os botões do conteúdo */
}

.modal-actions .button {
  width: auto; /* Garante que o botão tenha o tamanho adequado */
}

