/* Estilo do Navbar */
nav {
  width: 100%;
  background: #232323;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 180px;
}

.back, .cart {
  width: 40px;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 2px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  color: #fff;
}

/* Estilo da Drawer (menu lateral) */
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%; /* Largura um pouco maior */
  height: 100%;
  background: #232323; /* Fundo escuro mais moderno */
  color: #eeeeee; /* Texto claro para contraste */
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.drawer h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ff5100;
  padding-bottom: 10px;
}

/* Estilo dos itens do carrinho */
.cart-items {
  max-height: 80%; /* Altura máxima com scroll, se necessário */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff5100 #333;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background: #393e46; /* Fundo para destacar cada item */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cart-item-img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ff5100;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-header {
  display: flex; /* Garante que os elementos sejam exibidos lado a lado */
  justify-content: space-between; /* Espaçamento entre os elementos */
  align-items: center; /* Centraliza verticalmente */
  gap: 10px; /* Espaçamento opcional entre os elementos */
}

.cart-item-name {
  flex: 1; /* Garante que ocupe o espaço disponível */
  margin-bottom: 4px;
}

.cart-item-quantity {
  display: flex; /* Para os itens dentro do container da quantidade ficarem lado a lado */
  align-items: center; /* Alinha o número com o texto */
  gap: 5px; /* Ajuste do espaço entre o rótulo e o número */
  margin-right: 30px;
}

.cart-item-quantity span {
  font-size: 16px; /* Ajuste do tamanho da fonte */
  font-weight: bold;
}

.cart-item-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff5100;
  text-align: right;
  margin: 10px;
}

.cart-item-installments {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: right;
  margin: 10px;
}

/* Estilo dos botões */
.cart-item-actions {
  display: flex;
  gap: 10px;
}

.update-status {
  display: flex; /* Usando flexbox para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 50px; /* Defina uma largura específica para o botão */
  height: 50px; /* Defina uma altura específica para o botão */
  background: #2ecc71;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 0; /* Remove o padding padrão */
}

.update-status:hover {
  background: #27ae60;
}


.remove-item {
  width: 50px;
  height: auto;
  background: #e74c3c;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.remove-item:hover {
  background: #c0392b;
}

/* Botão de fechar Drawer */
.drawer-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.drawer-close:hover {
  color: #ff5100;
}

/* Indicador de carrinho vazio */
.empty-cart {
  text-align: center;
  font-size: 20px;
  color: #b0b0b0;
  margin-top: 50px;
}

/* Estilo do botão para checkout */
.checkout-btn {
  margin-top: auto;
  padding: 15px;
  background: #ff5100;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.checkout-btn:hover {
  background: #e14a00;
}