.produtos {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-lista {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.produto {
    flex-basis: 31%;
    position: relative;
    margin-bottom: 40px; /* Ajustado para garantir espaçamento uniforme entre os produtos */
}

.produto img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Ajuste no caption */
.caption {
    height: 100%; /* Ocupa apenas a altura da imagem */
    width: 100%; /* Ocupa a largura da imagem */
    border-radius: 10px; /* Mantém o mesmo arredondamento da imagem */
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(50, 50, 50, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.caption img {
    width: 60px;
    margin-bottom: 15px;
}

.caption p {
    font-size: 18px;
    font-weight: bold;
}

.produto:hover .caption {
    opacity: 1;
}