.title{
    text-align: center;
    text-transform: uppercase;
}
.title h2{
    font-size: 32px;
    color: #232323;
    margin-top: 5px;
    text-transform: none;
}
.title p{
    color: #ff5100;
    font-size: 24px;
    font-weight: 600;
}