.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  
}

.title {
  text-align: center;
  color: #ff5100;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button {
  background-color: #232323;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  width: auto;
  margin-left: 10px;
  height: 40px;
}

.button:hover {
  background-color: #ff5100;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  height: 100px;
}

.table th {
  background-color: #f4f4f4;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  vertical-align: middle;
}

.modal-container {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000; 
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: auto;
  width: 500px; 
  max-width: 90%; 
  max-height: 80vh; 
  overflow-y: auto;
}

.modal-title {
  text-align: center;
  color: #ff5100;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
}

.form-buttons {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px; 
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
  width: 600px;
}

.button.add-button {
  width: auto; 
}
.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
}input
.image-preview {
  width: 100%;
  max-height: 400px; 
  object-fit: contain; 
  display: block; 
  margin: 0 auto; 
}

.file-input {
display: none; 
}

.form-group {
margin-bottom: 15px; 
}

.custom-file-upload {
display: inline-block;
padding: 10px 15px; 
border: 1px solid #ccc; 
border-radius: 4px; 
background-color: #EBECFE; 
color: #333; 
cursor: pointer; 
margin-top: 5px; 
display: block; 
}

.custom-file-upload:hover {
border-color: #888; 
background-color: #f1f1f1; 
}
.foto-produto {
max-width: 60px; 
max-height: auto; 
}
.modal img {
max-width: 300px; 
max-height: 300px; 
width: auto;
height: auto;
display: block; 
margin: 0 auto; 
}
.preco-padrao {
width: 240px;
}
.desconto {
width: 120px;
}